/*******************************************************************************

        APP MAIN STYLES

*******************************************************************************/
/* 
    GENERAL
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #1c1c1c;
  padding: 100px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

header {
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul a {
  display: inline-block;
  margin: 0 1rem;
  line-height: 100px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.navbar ul a.active {
  border-bottom: 1px solid dodgerblue;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .card {
  flex-basis: 100px;
}
.cards h3 {
  padding: 1rem;
  color: #fff;
  font-size: 13px;
}

.poster {
  width: 180px;
  height: 180px;
}