header{
    padding: 1rem;
    padding-bottom: 0;
}

.logo {
    width: 90px;
    margin-right: 50px;
}
.navbar {
    display: flex;
    align-items: center;
    
    ul {
        display: flex;
        list-style: none;
        a {
            display: inline-block;
            margin: 0 1rem;
            line-height: 103px;
            text-decoration: none;
            text-transform: uppercase;
            color: $text-col;
            &.active {
                border-bottom: 3px solid $primary-col;
            }
            
        }
    }
}

